@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    font-family: Roboto;
}

.header {
background-image: url("/Users/anna/Desktop/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg");
position: 0 0;
repeat: no-repeat;
size: cover;
height: 650px;
padding-top: 50px;
position: relative;
}

h1 {
    font-size: 9em;
    color: white;
    text-align: center;  
}

.generalInfo {
    text-align: center; 
}

.generalInfo p {
    text-align: center;
    padding: 10 30;
}


.ingredients img {
    text-align: center; 
}
